@tailwind base;
@tailwind components;
@tailwind utilities;

.sectionWithInvisibleScrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
  /* For Webkit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  /* Add any other styles for the section */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
